@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubic/rubik-400.woff2") format("woff2");
  font-display: swap;
}

/* Полужирный */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubic/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

*,*::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: "Rubic", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
  min-height: 100%;
  margin: 0;
  padding-top: 40px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-color-grey {
  color: #444444;
}

/* header */

.header-container {
  position: relative;
  background-color: #ffe17f;
  color: #000000;
  width: 1160px;
  margin: 0 auto;
  padding: 43px 60px 136px;
}

.header-logo {
  display: block;
  position: absolute;
  top: -20px;
}

.header-container_form_navigation-user {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header-form {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  width: 517px;
  height: 40px;
}

.header-form_field {
  background-color: transparent;
  border: 2px solid black;
  padding: 10px 0 10px 48px;
  color: #000000;
  border-radius: 50px 0 0 50px;
  width: 359px;
}

.header-form_button {
  background-color: transparent;
  border: 2px solid black;
  border-left: none;
  padding: 10px 56px;
  color: #000000;
  border-radius: 0 50px 50px 0;
  width: 160px;
}

.navigation-user {
  display: flex;
  list-style: none;
}

.navigation-user_link {
  color: #000000;
  text-decoration: none;
}

.header-container_catalog_navigation {
  display: flex;
  justify-content: space-between;
}

.header-catalog_link {
  position: relative;
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.2em;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
}

.header-catalog_link_text {
  display: inline-block;
  padding: 15px 0;
}

.header-catalog_link_icon {
  position: absolute;
  right: -65px;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.header-catalog_link_icon::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 16px;
  background-color: rgba(0, 0, 0, 0.3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-catalog_link_icon::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-catalog_list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-catalog_sub-list {
  list-style: none;
  margin: 0;
  padding: 0;  
}

.navigation_list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation_link {
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.header-catalog_sub-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

/* main */

.bold {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.yellow-button {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #ffe17f;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

/* секция product-promo */

.product-promo-container {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  outline: 2px solid blue;
}

.product-promo_img {
  width: 560px;
  outline: 1px solid red;
}

.product-promo-text-container {
  width: 560px;
  margin-bottom: 38px;
  outline: 1px solid green;
}

.product-promo_text {
  margin: 0;
  outline: 1px solid red;
}

.product-promo_text,
.bold {
  margin-bottom: 29px;
}

.product-promo_text,
.text-color-grey {
  margin-bottom: 67px;
}

.product-promo_link {

}

.product-promo-list {
  margin: 0;
  margin-top: 59px;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.product-promo_data {
  font-size: 36px;
  line-height: 30px;

}
.product-promo_characteristics {
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}



/* секция catalog-index */

.catalog-index-container {
  width: 1160px;
  outline: solid 1px pink;
  margin: 0 auto;
  padding-top: 70px;
}

.catalog-index_list {
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  grid-template-rows: auto;
  column-gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-index_item {
  width: 160px;
}

.catalog-index_item_link {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: -0.02em;
  text-decoration: none;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.square {
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.monopod {
  align-self: flex-end;
}

.catalog-index_item_title {
  margin: 0;
  padding: 0;
  margin-top: 33px;
}

/* секция services */

.services-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  outline: solid 1px green;
}

.services_list {
  width: 287px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services_sub_container {
  width: 873px;
}

/* секция delivery */

.delivery-container {
  width: 1160px;
  margin: 0 auto;
  outline: solid 1px red;

}

.delivery_link {
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

/* секция company */

.company {
  outline: 2px solid green;
}

.company-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  outline: 2px solid blue;
}

.company-line {
  width: 80px;
  height: 7px;
  background-color: #000000;
  outline: 1px solid lightblue;
}

.company-about {
  width: 520px;
  outline: 1px solid lightblue;
  padding: 47px 23px 10px 0;
}

.company-contacts {
  width: 532px;
  outline: 1px solid pink;
  padding: 47px 23px 10px 0;
}

.company-about_list {
  margin: 0;
  padding: 0;
}

.company-about_item {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.company_inner_title {
  font-weight: 700;
  color: #444444;
  font-size: 24px;
  line-height: 30px;
}

.company-phone {
  font-style: normal;
}

/* секция subscribe */

.subscribe {
  background-color: #f0f0f0;
}

.subscribe-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 74px;
  align-items: flex-start;
  outline: 2px solid grey;
}

.subscribe_title {
  outline: 1px solid blue;
  width: 348px;
  margin: 0;
  margin-bottom: 157px;
}

.subscribe_text {
  outline: 1px solid green;
  width: 560px;
  margin: 0;
  margin-bottom: 157px;
}

.subscribe-form {
  display: flex;
  width: 810px;
  outline: 1px solid red;
  margin-bottom: 59px;
}

.subscribe-text2 {
  outline: 1px solid green;
  width: 160px;
  margin-bottom: 70px;
}

.subscribe-form_field {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 3px #c4c4c4;
  padding: 11px 447px 14px 16px;
  color: #444444;
  opacity: 0.5;
  width: 557px;
}


.subscribe-form_button {
  background-color: transparent;
  border: solid 3px #cecece;
  width: 253px;
  padding: 18px 39px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

/* секция footer */

.main-footer {
  background-color: #444444;
  color: #ffffff;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 61px;
  outline: solid 1px blue;
}

.footer-container_text_navigation_phone {
  display: flex;
  align-items: flex-end;
  margin-bottom: 47px;
  outline: solid 1px red;
}

.footer_text {
  width: 234px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  margin-right: 117px;
  outline: solid 1px pink;
}

.footer-navigation_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 444px;
  display: flex;
  justify-content: space-between;
  margin-right: 185px;
  outline: solid 1px pink;
}

.footer-navigation_link {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.footer_phone {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #ffffff;
  text-decoration: underline;
  outline: solid 1px pink;
}

.footer-container_social_copyright {
  display: flex;
  outline: solid 1px yellow;
}

.footer-line {
  width: 80px;
  height: 7px;
  background-color: #ffc500;
  margin-right: 424px;
}

.footer-social_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.footer-copyright_link {
  width: 115px;
  margin-left: auto;
}
